<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <!-- EXTERNAL JS LIBRARIES YOU MAY WANT TO USE (Just Comment Out to Use) -->

    <!-- Jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> -->
    
    <!-- HTMX -->
    <!-- <script src="https://unpkg.com/htmx.org@1.9.9"></script> -->

    <!-- AlpineJS -->
    <!-- <script src="//unpkg.com/alpinejs" defer></script> -->


    <!-- JS AND CSS from public folder -->
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js" defer></script>
</head>